
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");


:root{
    --Sans: "PT Sans", serif;
    --Karla: "Karla", serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.nav{

    opacity: 1;    
    transition: 0.7s;       
}

.hide{    
    
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.nav-hide{
    background-color: #000000;    
    width: 100%;
    height: 4rem;   
    position: fixed;
    z-index: 100;
}

nav label{
    color: #ffffff;
    line-height: 3.5rem;
    font-size: 2rem;
    font-family: var(--Sans);
    margin: 0rem 2rem;    
}

nav ul{
    float: right;   
}

nav ul li{    
    display: inline-block;
    line-height: 3.5rem;
    margin: 0rem 0rem;
}

nav ul li a{    
    color: #ffffff;
    font-size: 1.3rem;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: 500;
    font-family: var(--Sans)
}

a:active, a:hover{
    color:#7e2727;
    transition: 0.6s;   
}

.check-btn{
    float: right;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.img-wrapper img{
    width: 100%;
    height: 100vh;    
    object-fit: cover;  
    overflow: hidden;  
    opacity: 0.5;
}

.img-wrapper{    
    background-repeat:  no-repeat;
    background-size: cover;    
    background-color: #000000;    
}

.banner{
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;    
    position: absolute;
    left: 20%;
    top: 30%;
}

.banner p{    
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;
    position: absolute;
    left: 18%;
    top: 110%;
}


.typing-stop{
    content: "";          
}

.typing-stop::after{
    content: "  ";
    position: absolute;
    right: -.6rem;
    width: 1px;
    top: .2rem;
    height: 1.4rem;
    border-right: .2rem solid #ffffff;
    animation: blink 0.7s infinite ease;       
}

.typing{
    position: relative;
}

.typing::after{
    content: "";
    position: absolute;
    text-align: center;
    right: -.6rem;
    width: 1px;
    top: .2rem;
    height: 1.4rem;
    border-right: .2rem solid #ffffff;
    animation: blink 0.7s infinite ease;    
}

@keyframes blink{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* ---------------------- About me section ------------------------ */

.above{    
    margin-top: -.2rem;
    background: #ffffff;  
}

.header-about-me h2{
    display: flex;    
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
    font-family: var(--Karla);
    font-size: 3rem;
    font-weight: 950;  
}

.about-me p {
    text-align: justify;
    line-height: 2.3rem;
    font-family: var(--Karla);
    font-size: 1.3rem;
    margin-left: 6.2rem;
    margin-right: 6.5rem;
    padding-bottom: 3rem;
}

/* ---------------------- Knowledge section  ---------------------- */

.container-conhecimento{
    background: #eee7e7; 
}

.header-conhecimento{
    display: flex;    
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
    font-family: var(--Karla);
    font-size: 2rem;
    font-weight: 950;
}

.conhecimento-wrapper{
    text-align: center;
    display: grid;
    margin: 1.5rem 5rem 5rem;
    padding-bottom: 4rem;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));     
}

.box{    
    width: 250px;
    margin: 0 auto; 
    perspective: 1000px;         
}


.box:hover{
    position: relative;
    width: 250px;
    margin: 0 auto;    
    perspective: 1000px;    
    cursor: pointer;  
}

.conhecimento-wrapper .box .conhecimento-front{    
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgb(0, 0, 0);
    border-radius: .2rem;
    transition: all 0.5s ease;
}

.conhecimento-wrapper .box .conhecimento-front .icon{
    height: 80px;
    font-size: 50px;
    
}

.box .conhecimento-back{    
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;  
    padding-top: 50px;  
    transform-style: preserve-3d;
    backface-visibility: hidden;    
    opacity: 0;
    font-family: var(--Karla);
    background: rgb(116, 112, 112);
    font-weight: 600;
    box-shadow: 0px 5px 20px 0px rgb(0, 0, 0);
    transform: translateY(110px) rotateX(-90deg);
    transition: all 0.5s ease;
}

.box:hover .conhecimento-back{
    opacity: 1;
    transform: rotateX(0deg);
    border-radius: .2rem;
}

.box:hover .conhecimento-front{    
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}

/* ------------------ Projetos ------------------- */

.projetos h2{
    text-align: center;    
    padding-top: 3.3rem;
    padding-bottom: 3.5rem;
    font-family: var(--Sans);
    font-size: 2.5rem;
    font-weight: 950;
}

.projetos .projetos-container .projetos-carousel{    
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide{    
    display: flex;
    width: 100%;
    height: 500px;    
}

.carousel-slide img{    
    display: flex;
    width: 100%;
    height: 500px;    
}

#prevBtn{
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 40px;
    z-index: 10;
    color: #fff;
    cursor: pointer;
}   

#nextBtn{
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 40px;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.footer-container{
    margin-top: 6rem;
    width: 100%;
    background-color: #000000;    
    padding: .6rem 0 .5rem 0;
    
}

.footer-container h4{
    color: #fff;
    margin-top: 2.5rem;
    text-align: center;
    width: 20%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left:3.4rem;
    font-family: var(--Karla);    
}

.footer-container .social-medias {
    display: flex;
    justify-content:space-evenly;
    width: 30%;
    margin-top: -2rem; 
    margin: auto;
    padding-bottom: 1.5rem;   
    font-size: 2.5rem;
    color: #fff;
    margin-left:3rem;    
}

.footer-container .social-medias a{
    color: #fff;
}

.footer-container .social-medias a:hover{    
    color:#7e2727;   
}

.footer-container p{
    color: #fff;
    text-align: center;
    font-family: var(--Karla); 
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/*  ---------------------- Media queries -------------------- */

@media(max-width: 857px){
    label.logo{
        font-size: 1.6rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
}

@media(max-width: 673px){

    .check-btn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;        
        background: rgb(148, 142, 142);    
        top: 64px;       
        left: -100%;
        text-align: center;  
        transition: all .5s;  
    }

    nav ul li{               
        display: block;
        margin: 25px 0;
        line-height: 6rem;
    }

    nav ul li a{        
        font-size: 2rem;
        display: block;
    }

    a:active,a:hover{
        background: none;
        color: rgb(0, 0, 0);
        text-shadow: #000000 1px right;
    }

    #check:checked ~ ul {
        left: 0; 
    }   
    
    
}

@media(max-width: 916px){
    .projetos .projetos-container .projetos-carousel{    
        width: 80%;
        margin-left: 2rem;
        margin-right: 2rem;
        left: 5%;
        overflow: hidden;
        position: relative;
    }
}

@media(max-width: 894px){
    .banner{

        font-family: var(--Karla);
        font-size: 3rem;        
        color: #ffffff;
        position: absolute;
        left: 20%;
        top: 30%;        
    }

    .banner p{
    
        font-family: 'Karla', sans-serif;
        font-size: 1rem;
        color: #ffffff;
        text-shadow: 2px 2px 8px #000000;
        position: absolute;
        left: 15%;
        top: 110%;    
    
    }
}


@media(max-width: 463px){
    .banner{

        font-family: var(--Karla);
        font-size: 10rem;
        color: #ffffff;
        position: absolute;
        left: 10%;
        top: 30%;        
    }

    .banner p{
    
        font-family: 'Karla', sans-serif;
        font-size: 1rem;
        color: #ffffff;
        text-shadow: 2px 2px 8px #000000;
        position: absolute;
        left: 16%;
        top: 110%;    
    
    }
    
}


@media(max-width: 423px){
    .banner{

        font-family: var(--Karla);
        font-size: 10rem;
        color: #ffffff;
        position: absolute;
        left: 15%;
        top: 30%;        
    }

    .banner p{
    
        font-family: 'Karla', sans-serif;
        font-size: 1rem;
        color: #ffffff;
        text-shadow: 2px 2px 8px #000000;
        position: absolute;
        left: 0%;
        top: 110%;       
    }

    
}


@media(max-width: 673px){
    div.banner{

        font-family: var(--Karla);
        font-size: 2rem;
        color: #ffffff;
        position: absolute;
        left: 15%;
        top: 30%;        
    }

    .footer-container .social-medias {
        display: flex;
        justify-content:space-evenly;
        width: 75%;
        margin-top: -2rem; 
        margin: auto;
        padding-bottom: 1.5rem;   
        font-size: 2.5rem;        
        margin-left:3rem;        
    }

    .footer-container h4{
        color: #fff;
        margin-top: 2.5rem;
        text-align: center;
        width: 76%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-left:3.4rem;
        font-family: var(--Karla);    
    }
    
    
}

@media(max-width: 423px){

    .header-conhecimento{

        display: flex;    
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 4rem;
        font-family: var(--Karla);
        font-size: 1rem;
        font-weight: 950;
    }

    .header-about-me h2{    

        display: flex;    
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-family: var(--Karla);
        font-size: 2rem;
        font-weight: 950;  
    }
    
    .about-me p {

        text-align: justify;
        line-height: 2.3rem;
        font-family: var(--Karla);
        font-size: 1.3rem;
        margin-left: 3.2rem;
        margin-right: 3.2rem;
        padding-bottom: 3rem;
    }

    .projetos h2{
        text-align: center;    
        padding-top: 3.3rem;
        padding-bottom: 3.5rem;
        font-family: var(--Sans);
        font-size: 2rem;
        font-weight: 950;
    }    

}

@media(max-width:384px){

    .conhecimento-wrapper .box .conhecimento-front{
    
        background: #fff;
        height: 180px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 5px 20px 0px rgb(0, 0, 0);
        border-radius: .2rem;
        transition: all 0.5s ease;        
    }


    .box .conhecimento-back{
    
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 1;
        height: 180px;
        width: 80%;
        padding: 30px;    
        transform-style: preserve-3d;
        backface-visibility: hidden;    
        opacity: 0;
        background: rgb(116, 112, 112);
        transform: translateY(110px) rotateX(-90deg);
        transition: all 0.5s ease;
    }

    .box .conhecimento-back p{
        font-size: 0.8rem;
        
    }

    .conhecimento-wrapper .box .conhecimento-front .icon{

        height: 57px;
        font-size: 40px;
    }    
}